/*CSS file for Jarbrain;
	font-family:'VAG Rounded W01 Light';
	font-family:'VAG Rounded W01 Black';
	font-family:'VAG Rounded W01 Thin';
	font-family:'VAG Rounded W01 Bold';
*/

body {
	background: url(../images/background.jpg) white top repeat-x;
}

.content {
	
}

header {
	
}

footer {
	
}

/*Typography Treatment*/

h1, h2, h3 {
	font-family:'VAG Rounded W01 Bold';
}

h4, h5, h6, p, li {
	font-family:'VAG Rounded W01 light';
}

.gradient {
       filter: none;
}