/*CSS file for Jarbrain;
	font-family:'VAG Rounded W01 Light';
	font-family:'VAG Rounded W01 Black';
	font-family:'VAG Rounded W01 Thin';
	font-family:'VAG Rounded W01 Bold';
*/

body {
	background: black;
	text-align: center;
	color: 		#2b2b2b;
}

.page {
	background: 	url(../images/background.jpg) white top repeat-x;
	margin:			0 auto;
	width:			100%;
}

.page .content {
	width:		1385px;
	margin:		0 auto;
	background: url(../images/space_image.png) no-repeat center top;
	
}

.page .content #content-inner {
	margin:		0 auto;
	padding:	0 0 40px 0;
	width:		710px;
}

header {
	padding-top:250px;
	margin-bottom: 50px;
}

footer {
	background: black;
	color: 		white;
	width:		100%;
}

.footer-inner {
	margin: 	0 auto;
	padding:	10px 0;
	width:		710px;	
}
.footer-inner p {
	font-size: 		11px;
	line-height: 	1.2;
	margin:			0 0 10px 0;
}

/*Typography Treatment*/

h1, h2, h3 {
	font-family:		'VAG Rounded W01 Bold';
}

h4, h5, h6, p, li {
	font-family:		'VAG Rounded W01 light';
}


h2 {
	font-size: 			24px;
	text-transform: 	uppercase;
	letter-spacing: 1px;
}

p {
	font-size:		 	14px;
}

a {
	text-decoration: 	none;
}



.css3button {
	font-family: 			Arial, Helvetica, sans-serif;
	font-size: 				18px;
	color: 					#ffffff;
	padding: 				10px 20px;
	margin-bottom:			20px;
	background: 			-moz-linear-gradient(
							top,
							#377ee8 0%,
							#0c4fbb);
	background: 			-webkit-gradient(
							linear, left top, left bottom,
							from(#377ee8),
							to(#0c4fbb));
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px;
	border: 				2px solid #0c4fbb;
	-moz-box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	-webkit-box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	text-shadow:
							0px 0px 0px rgba(000,000,000,0),
							0px 0px 0px rgba(255,255,255,0);
}

.css3button:hover {
	background: 			#0c4fbb;
}

#cta	{
	border-bottom: 			1px solid #0c4fbb;
	border-top: 			1px solid #0c4fbb;
	padding:				20px 0 20px 0;
	margin:					40px 0 30px 0;
}

#cta div {
	margin:					30px 0 20px 0;
}


iframe {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.gradient {
    filter: 				none;
}

#social p i {
	margin:10px 0 30px 0;
}

#social li {
	list-style: none;
	display: inline-block;
	font-size: 30px;
}

#social li i {
	border-radius: 			5px;
	border: 				2px solid #0c4fbb;
	-moz-box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	-webkit-box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	text-shadow:
							0px 0px 0px rgba(000,000,000,0),
							0px 0px 0px rgba(255,255,255,0);
	width:					40px;
	height:					35px;
	padding-top:5px;

	background: 			#0c4fbb;
	color: 					white;
}
