/*CSS file for Jarbrain;
	font-family:'VAG Rounded W01 Light';
	font-family:'VAG Rounded W01 Black';
	font-family:'VAG Rounded W01 Thin';
	font-family:'VAG Rounded W01 Bold';
*/

body {
	background: url(../images/background.jpg) white top repeat-x;
}

.page {
	margin:0 auto;
	width:1000px;
	
}

header {
	
}

footer {
	background: black;
	color: 		white;
	width:		100%;
}

.footer-inner {
	margin: 	0 auto;
	width:		1000px;	
}

/*Typography Treatment*/

h1, h2, h3 {
	font-family:'VAG Rounded W01 Bold';
}

h4, h5, h6, p, li {
	font-family:'VAG Rounded W01 light';
}

p {
	font-size: 14px;
}

.gradient {
       filter: none;
}