@import('elements.less');

/*Colors*/
@color-brand-blue: 	#2c6dd4;
@color-dark-blue: 	#0f4697;
@color-grey: 		#666666;
@color-dark-grey: 	#141414;
@color-black: 		#000000;


/*Fonts*/
@font-light		{font-family:'VAG Rounded W01 Light', 'Varela Round', sans-serif;}
.font-light 	{@font-light;}
@font-black		{font-family:'VAG Rounded W01 Black', 'Varela Round', sans-serif;}
@font-thin		{font-family:'VAG Rounded W01 Thin', 'Varela Round', sans-serif;}
@font-bold 		{font-family:'VAG Rounded W01 Bold', 'Varela Round', sans-serif;}

@font-meta		{
			.font-light;
			color: @color-grey;
			font-size: 13px;
			font-weight: normal;
			margin-bottom:5px;
		}

/* mq for changing things at breakpoints - so after the area labelled */
@breakpoint-narrow-plus: ~'(min-width: 768px)';
@breakpoint-normal-plus: ~'(min-width: 980px)';
@breakpoint-wide-plus: ~'(min-width: 1220px)';

/*Image Resize*/
.responsive_image {
	width:100%;
	height:auto;
	@media all and @breakpoint-narrow-plus {
		width:	inherit;
	}
}