@import('elements.less');

/*Colors*/
@color-brand-blue: 	#2c6dd4;
@color-dark-blue: 	#0f4697;
@color-light-grey: 	#ddd;
@color-grey: 		#666666;
@color-dark-grey: 	#141414;
@color-black: 		#000000;


/*Fonts*/
@font-light		{font-family:'Comfortaa', cursive; font-weight: 400;}
.font-light 	{@font-light;}
@font-bold 		{font-family:'Comfortaa', cursive; font-weight: 700;}

.block-quote 	{
				.font-light;
				font-style: 	italic;
				color: @color-grey;
			}

@font-meta		{
			.font-light;
			color: @color-grey;
			font-size: 13px;
			font-weight: normal;
			margin-bottom:5px;
		}

/* mq for changing things at breakpoints - so after the area labelled */
@breakpoint-narrow-plus: ~'(min-width: 768px)';
@breakpoint-normal-plus: ~'(min-width: 980px)';
@breakpoint-wide-plus: ~'(min-width: 1220px)';

.blk-background {
	background-image:url(../images/black_background.gif);
	background-repeat:repeat-x;
}

/*Image Resize*/
.responsive_image {
	width:100%;
	height:auto;
	@media all and @breakpoint-narrow-plus {
		width:	inherit;
	}
}

/*Buttons*/
.button-lrg {
	font-family: 			Arial, Helvetica, sans-serif;
	font-size: 				18px;
	color: 					#ffffff;
	padding: 				10px 20px;
	margin-bottom:			20px;
	background:				#0c4fbb;
	background: 			-moz-linear-gradient(
							top,
							#377ee8 0%,
							#0c4fbb);
	background: 			-webkit-gradient(
							linear, left top, left bottom,
							from(#377ee8),
							to(#0c4fbb));
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px;
	border: 				2px solid #0c4fbb;
	-moz-box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	-webkit-box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	box-shadow:
							0px 3px 11px rgba(000,000,000,0.5),
							inset 0px 0px 4px rgba(255,255,255,1);
	text-shadow:
							0px 0px 0px rgba(000,000,000,0),
							0px 0px 0px rgba(255,255,255,0);
	&:hover {
		background: 		#0c4fbb;
	}
}

.border_bottom {
	border-bottom: 1px solid @color-brand-blue;
}

.grid-6 {
  width: 100%;
  display: inline;
  float: left;
  position: relative;
   	@media all and @breakpoint-narrow-plus {
			width:	340px;
		}

	@media all and @breakpoint-normal-plus {
			width:	460px;
		}

	 @media all and @breakpoint-wide-plus {
			width:	580px;
		}

  
}
