@import('common.css.less');

h1 {
			@font-bold;
			letter-spacing: 	0.005em;
}

h1#page-title {
			color:				white;
}

h2, h3 {
			@font-bold;
}

h4, h5, h6 {
			@font-light;
}

ul {
	margin:0;
}

a:link, a:visited {
	color: 				@color-brand-blue;
	text-decoration: 	none;
}

a:hover {
	text-decoration: 	underline;
}

.node ol, .node ul {
	padding-left:0;
}

#region-header-first {
	background: @color-brand-blue;
}

#breadcrumb {
	background: 	white;
	border-top: 	8px solid @color-dark-blue;
	border-bottom: 	4px solid @color-dark-blue;
	.breadcrumb {
		margin:5px 0;
	}
}
	
#section-footer {
		background:		@color-dark-grey;
		color:			white;
}
	
.embedded-video {
	background: white;
	text-align: 	center;
		iframe{
			height:		215px;
			width:		100%;
			@media all and @breakpoint-narrow-plus {
				height:	540px;
				width:	100%;
			}
			
		}
}

/*nice menu's styling*/

ul.nice-menu {
	li {
		background: 	white;
		border:			none;
		text-align: 	center;
		&.menu-path-nolink {
			background: 			white;
			background-image: 		none;
			color:					@color-grey;
			padding:				15px 10px;
			text-decoration: 		none;
			width:					90px;
			&:hover {
				background:			@color-brand-blue;
				color:				white;
				text-decoration: 	none;
			}
		}
		a, .menu-path-nolink {
			background: 			white;
			color:					@color-grey;
			padding:				15px 10px;
			text-decoration: 		none;
			width:					90px;
			&:hover {
				background:			@color-brand-blue;
				color:				white;
				text-decoration: 	none;
			}
		}
		ul {
			border-top:				none;
			margin-top:				23px;
				li {
					a {
						padding-left:	20px;
						text-align: 	left;
						width: 			200px;
					}
				}
		}
	}
}

/*Responsive Sidr Navigation*/

.sidr {
	background: 				@color-brand-blue !important;
	box-shadow:					none;
	-webkit-box-shadow: 		none;
		.sidr-class-nolink {
			text-decoration: 	none;
		}
			li {
				list-style: 	none !important;
				padding: 		10px 0 10px 20px;
				border:			none;
					&:hover {
						box-shadow:				none;
						-webkit-box-shadow: 	none;
						
					}
					a {
					border:					none;
					color:					white;
					text-decoration: 		none;
						&:hover {
							box-shadow:				none;
							-webkit-box-shadow: 	none;
							color: 					white;
							text-decoration: 		none;
							}
				}

					ul {
						border:					none;
						li {
							list-style: 		none !important;
							padding:			0;
							margin: 			0;
							border:				none;
								&:hover {
									box-shadow:				none;
									-webkit-box-shadow: 	none;
								}
							a {
								padding:		0 0 0 5px;
								text-decoration: 		none;
									&:hover {
										box-shadow:				none;
										-webkit-box-shadow: 	none;
										color: 					white;
										text-decoration: 		none;
									}
							}
						}
					}
				}
}

/*Portfolio*/

.views-exposed-widgets {
	width:		100%;
	@media all and @breakpoint-narrow-plus {
		float:right;
		width:260px;
	}
}

.portfolio-list {
	ul {
		li {
			height: 400px;
		}
	}
}

