@import('common.css.less');

/*Typography*/
body {
	color: @color-grey;
}

h1 {
			@font-light;
			letter-spacing: 	0.02em;
			font-size: 16px;
}

.not-front h1 {
	font-size:35px;
}

h2, h3 {
			@font-light;
			color: @color-dark-grey;
			font-size: 16px;

}

h4, h5, h6 {
			@font-light;
			color: @color-dark-grey;
}

p {			color: @color-grey;
	}

.copy-block p {
	max-width: 700px;
}

ul {
	list-style: 	none;
	margin:			0;
}

.item-list ul li {
	margin:0;
}

.center-text {
	text-align: center !important;
}


a:link, a:visited {
	color: 				@color-brand-blue;
	text-decoration: 	none;
}

a:hover {
	text-decoration: 	underline;
}

a.button {
	.button-lrg;
}

.node ol, .node ul {
	padding-left:		0;
}

#page-title {
	background:			url(../images/header_background.png) bottom right no-repeat;
	color:				white;
	margin:				0;
	padding:			10px 0;
	width:				100%;
}

/*Elements*/
img {
	.responsive_image;
}

.logo-img {
	margin-top:5px;
}

.bottom-divide {
	.border_bottom;
}

#cta {
	background: white url(../images/cta_background.gif) center repeat-x;
	
}


/*Pager*/
/* Pagers Positioning */

.pager {
  background: 				none;
  border:					none;
  border-radius: 			0;
  -moz-border-radius: 		0;
  -webkit-border-radius: 	0;
  padding:					0;
  width:					100%;
  
  @media all and @breakpoint-normal-plus {
    margin: 				0 auto !important;
  	width:					30%;
  	}
  	li {
	  border-right: 			none;
	  /* border-color: #ddd #bbb #999; */
	  /* color: #333; */
	  font: 					bold 12px/1.2 Arial, sans-serif;
	  outline: 					0;
	}
  	
  	li.first, .pager li.first a, .pager li.first a:hover {
	  	/* border-radius: 5px 0 0 5px; */
	  	-moz-border-radius: 		5px 0 0 5px;
	  	/* -webkit-border-radius: 5px 0 0 5px; */
	  }
	  
  	li.pager-last, li.pager-last a, li.pager-last a:hover {
	  	/* border-radius: 0 5px 5px 0; */
	  	-moz-border-radius: 		0 5px 5px 0;
	  	/* -webkit-border-radius: 0 5px 5px 0; */
	  }
	li.pager-first a, li.pager-previous a, li.pager-next a, li.pager-last a {
	  width: 					40px;
	  text-align:				center;
	  padding: 					4px 0;
	  }
	li.pager-next {
		position: 				absolute;
		top: 					0;
		right: 					40px;
	  }
	li.pager-ellipsis, li.pager-current, li a {
		color: 					@color-dark-grey;
		}
	li.pager-current {
		background: 			none;
		color: 					@color-grey;
		outline: 				0;
		}
	li.pager-next {
		border-left: 			none;
  		}
  	li a {
	  background: 				none;
	  cursor: 					pointer;
	  &:hover	{
		  background: 			none;
		  color: 				@color-brand-blue;
	  }				
	}
}

/*Zones, Sections and Regions*/
#zone-preface-wrapper {
	background: #114caa; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNGNhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzU2YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #114caa 0%, #1356bf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#114caa), color-stop(100%,#1356bf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #114caa 0%,#1356bf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #114caa 0%,#1356bf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #114caa 0%,#1356bf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #114caa 0%,#1356bf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114caa', endColorstr='#1356bf',GradientType=0 ); /* IE6-8 */
}

.front #zone-preface-wrapper {
	background: @color-brand-blue url(../images/slideshow.png) center top no-repeat;
}

#zone-user-wrapper {
	background: 	white;
	border-top: 	8px solid @color-dark-blue;
	border-bottom: 	4px solid @color-dark-blue;
	.breadcrumb {
		margin:8px 0 0 0;
		li {
			color: black;
			
		} 
		li:after {
			content:		"\25B8";
			color: 			@color-brand-blue;
			margin-left:	10px;
		}
		li.last:after {
			content: "";
		}
	}
}
.front {
	#zone-user-wrapper {
		display: none;
	}
	#zone-preface-wrapper {
		border-bottom: 	4px solid @color-dark-blue;
		margin-bottom: 20px;
	}
}
	
#section-footer {
		background:			@color-dark-grey;
		border-top:			10px solid @color-grey;
		padding:			20px 0;
		
		h2 {
			border-bottom: 	1px dotted white;
			color: 			white;
			.font-light;
			font-size: 		14px;
			letter-spacing: 1px;
			margin-bottom: 5px;
		}
		.block-3 {
			@media all and @breakpoint-narrow-plus {
				margin-top:		10px;
			}
			h2, p {
				@media all and @breakpoint-narrow-plus {
				text-align: center;
				}
			}
			
		}
		.block-5 {
			li {
				float:			left;
				margin-right:	10px;
			}
		}
		p, li, a {
			color:			white;
			font-size: 		11px;
			margin-bottom: 	5px;
		}
		p.reg-address {
			color:			@color-light-grey;
			font-family: 	serif;
			font-size: 		12px;
		}
		#region-footer-second {
			padding-top:20px;
		}
}

/*nice menu's styling*/

ul.nice-menu {
	li {
		background: 	white;
		border:			none;
		text-align: 	center;
		&.menu-path-nolink {
			background: 			white;
			background-image: 		none;
			color:					@color-grey;
			padding:				15px 10px;
			text-decoration: 		none;
			width:					90px;
			&:hover {
				background:			@color-brand-blue;
				color:				white;
				text-decoration: 	none;
			}
		}
		a, .menu-path-nolink {
			background: 			white;
			color:					@color-grey;
			padding:				15px 10px;
			text-decoration: 		none;
			width:					90px;
			&:hover {
				background:			@color-brand-blue;
				color:				white;
				text-decoration: 	none;
			}
		}
		ul {
			border-top:				none;
			margin-top:				23px;
				li {
					a {
						padding-left:	20px;
						text-align: 	left;
						width: 			200px;
					}
				}
		}
	}
}

/*Responsive Sidr Navigation*/

.sidr {
	background: 				@color-brand-blue !important;
	box-shadow:					none;
	-webkit-box-shadow: 		none;
		.sidr-class-nolink {
			text-decoration: 	none;
		}
			li {
				list-style: 	none !important;
				padding: 		10px 0 10px 20px;
				border:			none;
					&:hover {
						box-shadow:				none;
						-webkit-box-shadow: 	none;
						
					}
					a {
					border:					none;
					color:					white;
					text-decoration: 		none;
						&:hover {
							box-shadow:				none;
							-webkit-box-shadow: 	none;
							color: 					white;
							text-decoration: 		none;
							}
				}

					ul {
						border:					none;
						li {
							list-style: 		none !important;
							padding:			0;
							margin: 			0;
							border:				none;
								&:hover {
									box-shadow:				none;
									-webkit-box-shadow: 	none;
								}
							a {
								padding:		0 0 0 5px;
								text-decoration: 		none;
									&:hover {
										box-shadow:				none;
										-webkit-box-shadow: 	none;
										color: 					white;
										text-decoration: 		none;
									}
							}
						}
					}
				}
}

/*Showreel*/
.node-type-showreel {
	#section-content {
		.blk-background;
		@media all and @breakpoint-narrow-plus {
			background-size: 1px 439px;
		}
		@media all and @breakpoint-normal-plus {
			background-size: 1px 574px;
		}
		@media all and @breakpoint-wide-plus {
			background-size: 1px 710px;
		}
		
	}
}



/*Portfolio*/

.node-type-portfolio {
	#section-content {
		.blk-background;
		@media all and @breakpoint-narrow-plus {
			background-size: 1px 420px;
		}
		@media all and @breakpoint-normal-plus {
			background-size: 1px 555px;
		}
		@media all and @breakpoint-wide-plus {
			background-size: 1px 690px;
		}
		.pane-node-body {
			margin-top:35px;
		}
	}
}

.field-name-field-image {
	.field-item {
		.grid-6;
	}
	.even {
		float:right;
	}
	.odd {
		float:left;
	}
	img {
		width:100%;
		height:auto;
	}
}

.videoWrapper, .player {
	position: 			relative;
	padding-bottom: 	56.25%; 
	padding-top: 		25px;
	height: 			0;
	
		iframe {
			position: 	absolute;
			top: 		0;
			left: 		0;
			width: 		100%;
			height: 	100%;
	}
}

.views-exposed-widgets {
	width:		100%;
	@media all and @breakpoint-narrow-plus {
		float:right;
		width:260px;
	}
}

.pane-user-picture {
	display: none;
	@media all and @breakpoint-narrow-plus {
		display: inherit;
	}
	img {
		height:	auto;
		width:	100%;
	}
}

.node-type-wp-blog {
	.grid-4 {
		display: none;
		@media all and @breakpoint-narrow-plus {
		display: inherit;
		}
	}
}

.node-type-portfolio {
	.field-name-body {
		width:		100%;
			@media all and @breakpoint-normal-plus {
				width:	70%;
				margin:	0 auto;
			}
			@media all and @breakpoint-wide-plus {
				width:	60%;
				margin:	0 auto;
			}
	}
	.field-name-field-client-quote {
		.block-quote;
	}
	.pane-node-field-client-quote,
	.pane-node-field-quote-name,
	.pane-node-field-credits,
	.pane-node-field-external-url {
		width:	80%;
		margin:	0 auto;
		@media all and @breakpoint-narrow-plus {
			width:50%;
		}
	}
	.pane-node-field-credits, .pane-node-field-quote-name, .pane-node-field-client-quote {
		text-align: center;
	}
}

/*Controls hover state*/

.img-grid {
	list-style: 		none;
	margin-bottom:		40px;
	min-height:			380px;
	overflow: 			auto;
	@media all and @breakpoint-normal-plus {
		margin-bottom:		20px;
		overflow: 			hidden;
		position: 			relative;
		min-height:			125px;  
		height:				125px;
	    width: 				220px;
		}
	@media all and @breakpoint-wide-plus {
		min-height:			150px; 
		height:				150px;
	    width: 				280px;
		}
    &:hover {
	    .caption {
	    	@media all and @breakpoint-normal-plus {
				-moz-transform: 	translateY(-137px);  
			    -o-transform: 		translateY(-137px);  
			    -webkit-transform: 	translateY(-137px);  
			    transform: 			translateY(-137px); 
			}
	    	@media all and @breakpoint-wide-plus {
				-moz-transform: 	translateY(-167px);  
			    -o-transform: 		translateY(-167px);  
			    -webkit-transform: 	translateY(-167px);  
			    transform: 			translateY(-167px); 
			}
	    }
    }
		img {
			margin-bottom: 	20px;
				@media all and @breakpoint-normal-plus {
					margin-bottom:		0;
					position: 			absolute;  
				    left: 				0;  
				    -webkit-transition: all 300ms ease-out;  
				    -moz-transition: 	all 300ms ease-out;  
				    -o-transition: 		all 300ms ease-out;  
				    -ms-transition: 	all 300ms ease-out;  
				    transition: 		all 300ms ease-out;
			    }
		    }
	    .caption {
			font-size: 			12px;
			line-height: 		18px;
				@media all and @breakpoint-normal-plus {
					background-color: 	rgba(44,109,212,0.8);
					color: 				white;
					height: 			150px;
					left: 				0;
					position: 			absolute;
					padding: 			10px 10px 10px 10px;
					-webkit-transition: all 400ms ease-out;
					-moz-transition: 	all 400ms ease-out;
					-o-transition: 		all 400ms ease-out;
					-ms-transition: 	all 400ms ease-out;
					transition: 		all 400ms ease-out;
					text-align: 		center;
					top: 				137px;
					width: 				200px;
					z-index: 			100;
				}
				@media all and @breakpoint-wide-plus {
					font-size: 			14px;
					height: 			170px;
					padding: 			10px 10px 20px 10px;
					top: 				167px;
					width: 				260px;
				}
					h3 {
						@media all and @breakpoint-normal-plus {
							border-bottom: 	1px dotted white;
							color: 			white;
							font-size: 		14px;
							letter-spacing: 1px;
							margin-bottom: 	10px;
							padding-bottom: 5px;
							
							}
						@media all and @breakpoint-wide-plus {
							font-size: 16px;
							
						}
					}
			}
}

.img-grid-4 {
		list-style: 		none;
		margin-bottom:		40px;
		min-height:			380px;
		overflow: 			auto;
		@media all and @breakpoint-normal-plus {
			margin-bottom:		20px;
			overflow: 			hidden;
			position: 			relative;
			min-height:			214px;  
			height:				214px;
		    width: 				220px;
			}
		@media all and @breakpoint-wide-plus {
			height:				270px;
		    width: 				380px;
			}
		    &:hover {
			    .caption {
			    	@media all and @breakpoint-normal-plus {
						-moz-transform: 	translateY(-177px);  
					    -o-transform: 		translateY(-177px);  
					    -webkit-transform: 	translateY(-177px);  
					    transform: 			translateY(-177px); 
					}
			    	@media all and @breakpoint-wide-plus {
						-moz-transform: 	translateY(-237px);  
					    -o-transform: 		translateY(-237px);  
					    -webkit-transform: 	translateY(-237px);  
					    transform: 			translateY(-237px); 
					}
			    }
		    }
			img {
				margin-bottom: 	20px;
					@media all and @breakpoint-normal-plus {
						margin-bottom:		0;
						position: 			absolute;  
					    left: 				0;  
					    -webkit-transition: all 300ms ease-out;  
					    -moz-transition: 	all 300ms ease-out;  
					    -o-transition: 		all 300ms ease-out;  
					    -ms-transition: 	all 300ms ease-out;  
					    transition: 		all 300ms ease-out;
				    }
			    }
		    .caption {
				font-size: 			12px;
				line-height: 		18px;
					@media all and @breakpoint-normal-plus {
						background-color: 	rgba(44,109,212,0.8);
						color: 				white;
						height: 			195px;
						left: 				0;
						position: 			absolute;
						padding: 			20px 10px 10px 10px;
						-webkit-transition: all 400ms ease-out;
						-moz-transition: 	all 400ms ease-out;
						-o-transition: 		all 400ms ease-out;
						-ms-transition: 	all 400ms ease-out;
						transition: 		all 400ms ease-out;
						text-align: 		center;
						top: 				167px;
						width: 				280px;
						z-index: 			100;
					}
					@media all and @breakpoint-wide-plus {
						font-size: 			14px;
						height: 			270px;
						padding: 			10px 10px 20px 10px;
						top: 				237px;
						width: 				360px;
					}
						h3 {
							@media all and @breakpoint-normal-plus {
								border-bottom: 	1px dotted white;
								color: 			white;
								font-size: 		14px;
								letter-spacing: 1px;
								margin-bottom: 	10px;
								padding-bottom: 10px;
								
								}
							@media all and @breakpoint-wide-plus {
								font-size: 16px;
								
							}
						}
				}
}

/*Slideshow*/
.flexslider {
	background: 		@color-brand-blue;
	border:				0px;
	box-shadow: 		none;
	margin-bottom:		0;
	h3 {
		color: 			white;
		text-align: 	left;
		margin:			10px 20px;
		font-size: 		18px;
		@media all and @breakpoint-narrow-plus {
			text-align: 	right;
			font-size: 		25px;
			letter-spacing: 	0.05em;
		}

	}
	.flex-control-paging {
		display: 	none;
		@media all and @breakpoint-narrow-plus {
			display: 	inherit;
			z-index: 1000;
		}
		bottom:		15px;
		left:		15px;
		text-align: left;
		width:		50%;
		li {
			a {
				background: 	white;
				box-shadow: 	none;
				height:			16px;
				width:			16px;
			}
		}
	}
}

/*Blog*/
.blog-post {
	.blog-header-image {
		margin-bottom:20px;
	}
	.blog-body-wrapper {
		margin-bottom:40px;
		.blog-meta {
			@font-meta;
			img {
				width:80px;
				height:80px;
				@media all and @breakpoint-narrow-plus {
					.responsive_image;
				}
			}
		}
	}
}

.field-name-taxonomy-wp-blog-tags {
	display:none;
	@media all and @breakpoint-narrow-plus {
		display: inherit;
	}
	li, .field-item {
	margin:10px 0 !important;
	text-align: right;
		a {
			background: @color-brand-blue;
			color:		white;
			padding:	5px;
			}
		}
}


.post_meta {
	h2, a, p {
		@font-meta;
	}
}


.pane-node-created {
	@font-meta;
}
.pane-wp-blog-date-navigation {
	ul li ul li {
		margin-left:	5px;
		}
}

.field-name-field-blog-image {
	margin-bottom: 		20px;
}

.field-type-text-with-summary {
	img {
		height:	auto;
		width:	100%;		}
}

#blog-showcase {
	margin-bottom:		10px;
}

.block-follow-site {
	margin-bottom: 20px;
		h2.block-title {
			font-size: 14px;
			margin:10px 0;
			@media all and @breakpoint-narrow-plus {
			text-align: center;
			}
			
		}
}
.follow-links {	

	@media all and @breakpoint-narrow-plus {
		margin-left:225px;
	}

	@media all and @breakpoint-normal-plus {
		margin-left:345px;
	}

	@media all and @breakpoint-wide-plus {
		margin-left:465px;
	}
}


